/* Importações */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Formatação Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'poppins';
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: uppercase;
    background-color: #020708;
    overflow-x: hidden
}

/* Barra de navegação */
nav div h1 {
    color: rgb(226, 219, 219);
    font-size: 1.6rem;
    letter-spacing: 2px;
}

.navbar{
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    height: 8vh;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.navbar-lista ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.navbar-lista ul li {
    margin-left: 40px;
}

.navbar-lista ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: rgb(226, 219, 219);
    font-weight: bold;
    display: block;
}

.navbar-lista ul li a:hover {
    color: rgb(105, 105, 105);
    transition: .3s;
}

.navbar-lista ul li button {
    background: linear-gradient(112.82deg, #a044ff 19.93%, #803a96 102.22%);
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    color: rgb(226, 219, 219);
    border-radius: 17px;
    cursor: pointer;
    transition: .4s ease;
    text-transform: uppercase;
}

.navbar-lista ul li button:hover {
    transform: translateY(-5px);
}

.scroll {
    background: rgba(0, 0, 0, 0.171);
    top: -100px;
    border-radius: 30px;
    width: 75%;
    padding: 0;
    animation: fadedown .4s ease 1s forwards;
    backdrop-filter: blur(2.5px);
}

@keyframes fadedown{
    0% {
        top: -50px;
    }
    100%{
        top: 20px;
    }
}

/* Foto de Fundo e conteúdo centralizado */
.area-do-banner {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./imagens/foto-fundo.jpg);
    background-size: cover;
}

.area-do-conteudo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    text-align: center;
}

.conteudo h2 {
    font-size: 80px;
    color: rgb(226, 219, 219);
}

.conteudo p {
    font-size: 30px;
    color: #ddd;
}

.conteudo .botao {
    border: none;
    outline: none;
    margin-top: 100px;
    font-size: 18px;
    background: linear-gradient(112.82deg, #a044ff 19.93%, #803a96 102.22%);
    padding: 10px 26px;
    font-weight: bold;
    color: rgb(226, 219, 219);
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s;
}

.botao a {
    text-decoration: none;
    color: rgb(226, 219, 219);
}

/* Sobre Mim */
.container-sobre {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
}

.container-sobre h2 {
    color: rgb(226, 219, 219);
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.container-sobre h3 {
    margin-top: 4rem;
    color: rgb(226, 219, 219);
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 4px;    
}

.container-sobre h4 {
    color: rgb(199, 196, 196);
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: none;  
}

.container-sobre .imagem-thiago {
    margin-top: .7rem;
    margin-bottom: .7rem;
}

.container-sobre img {
    width: 450px;
    border-radius: 250px;
}

.container-sobre p {
    font-family: 'Roboto Mono';
    font-size: 1.2rem;
    text-transform: none;
    font-weight: 200;
    color: rgb(226, 219, 219);
    line-height: 2.5rem;
    text-align: center;
    margin-bottom: 5rem;
}

/* Projetos */
.container {
    text-align: center;
    margin: 50px;
}

.sub-titulo {
    margin: 50px 0 20px;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: rgb(226, 219, 219);
    margin-bottom: 4rem;
    text-decoration: underline;
}

.projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.projetos div img {
    width: 70%;
    border-radius: 20px;
    margin: 25px 0;
}

.jogo-das-teclas {
    border: rgb(226, 219, 219) solid;
}

.nao-finalizado {
    filter: blur(4px) brightness(30%);
}

span h3 {
    margin-left: 8px;
    color: rgb(226, 219, 219);
}

span p {
    margin-left: 8px;
    color: rgb(226, 219, 219);
}

/* Rodapé */
footer {
    width: 100%;
    color: rgb(226, 219, 219);
}

.rodape-link {
    text-decoration: none;
}

.rodape-conteudo {
    background-color: #000505;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
}

.rodape-contatos h1 {
    margin-bottom: 0.75rem;
}

.rodape-redes-sociais {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

.rodape-redes-sociais .rodape-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: rgb(226, 219, 219);
    border-radius: 50%;
    transition: all .4s;
}

.rodape-redes-sociais .rodape-link i {
    font-size: 1.25rem;
}

.rodape-redes-sociais .rodape-link:hover {
    opacity: 0.6;
}

.instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

.whatsapp {
    background-color: #25d366;
}

.rodape-lista {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.rodape-lista .rodape-link {
    color: rgba(226, 219, 219, 0.808);
    transition: all .4s;
}

.rodape-lista .rodape-link:hover {
    color: rgb(235, 227, 227);
}

.rodape-sub {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.rodape-sub p {
    color: rgba(226, 219, 219, 0.808);
}

.input-group {
    display: flex;
    align-items: center;
    background-color: rgb(226, 219, 219);
    border-radius: 4px;
}

.input-group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

.input-group button {
    background-color: #7f37c9;
    border: none;
    color: rgb(226, 219, 219);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all .4s;
}

.input-group button:hover {
    opacity: 0.8;
}

.rodape-copy-right {
    display: flex;
    justify-content: center;
    background-color: #000305;
    font-size: 0.9rem;
    padding: 1rem;
    font-weight: 100;
}

/* Responsividade Mobile */
.menu-mobile {
    display: none;
    cursor: pointer;
}

.menu-mobile div {
    width: 32px;
    height: 2px;
    background: #000;
    margin: 8px;
    transition: .3s;
}

/* Estilos para telas menores que 768px */
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .navbar-lista-responsiva {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 80vh;
        background: #7f37c9;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform .3s ease-in;
    }

    .navbar-lista li {
        margin-left: 0;
        opacity: 0;
    }

    .menu-mobile {
        display: block;
    }

    .navbar-lista-responsiva.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0)
        }
    }

    .menu-mobile.active .linha1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .menu-mobile.active .linha2 {
        opacity: 0;
    }

    .menu-mobile.active .linha3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }







    .rodape-conteudo {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

/* Estilos para telas menores que 426px */
@media screen and (max-width: 426px) {
    .rodape-conteudo {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}